<div class="row">
  <h3>Would you rather...</h3>
  <div class="col-sm-4">
    <h3><%= prompt.optionA %></h3>
  </div>
  <div class="col-sm-2">
    <h4>or</h4>
  </div>
  <div class="col-sm-4">
    <h3><%= prompt.optionB %></h3>
  </div>
</div>
<div class="row">
  <div class="col-md-4 offset-md-4">
    <p>
      <%= prompt.description %>
    </p>
  </div>
</div>
<hr>
