 @import "bootstrap-sprockets";
 @import "bootstrap";

 // div {
 //   border:solid;
 // }

 .navbar {
   background-color: #89BE41;
   .navbar-brand {
     color: white;
   }
   li {
     color: white;
   }
 }

 .col-sm-2 {
   padding:2% 0% 0% 2%;
  }
